
.categoryMenu{
    position: absolute !important;
    width: 162px;
    height: 100%;
    overflow: auto;
}
.productContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
    width: 80%;
    left: 208px;
    height: 100vh;
    overflow: auto;
}
.productCard{
    margin: 1vw !important;
    width: 250px;
    height: 315px;
}
.productCard img{
    height: 150px;
}