
.categoryMenu{
    position: absolute !important;
    width: 162px;
    height: 87%;
    overflow: auto;
    box-shadow: 2px 2px 2px 3px lightgray !important;

}
.productContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 50px;
    width: 77%;
    left: 208px;
    height: 100%;
    min-height: 100vh;
    margin-top: 30px;
}
.productCard{
    margin: 1vw !important;
    width: 250px;
    height: 315px;
}
.productCard img{
    height: 150px;
}
.productSearch{
    position: absolute;
    top: 0;
    left: 30%;
    width: 55% !important;
    margin-top: 10px !important;
}

.productNavbar{
    color: white;
    position: fixed;
    left: 260px;
    top:2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
    width: 50%;
}
.productNavbar p{
    margin-top: -17px;

}
.productNavbar > *{
    margin-right: 10px;
}
.searchProductName{
    width: 60% !important;
}

.searchTerm{
    position: fixed;
    top: 120px;
    left: 300px;
    padding: 5px;
    background-color: #f1f2f5;
    border-radius: 2px;
}
.searchTerm button{
    background: none;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.searchTerm button:hover{
    background: lightgrey;
    border: 1px solid black;
    transition: 0.5s ease;
}