body {
    background-color: #f0f2f5;
}

#mainBodyContainer{
    background-color: white;
    width: 94vw;
    min-height: 90vh !important;
    margin-top: 75px;
    overflow: auto;
    position: fixed;
    left: 30px;
}

.clickable{
    cursor: pointer;
}